.example-card {
    width: 400px;
    height: 360px;
    margin:20px;
    float: left;
  } 

  .example-spacer {
    flex: 1 1 auto;
   }

   input {
    width: 30%;
    background-color: #C2185B;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    height: 25px;
  }

  .image{
    width: 100px;
    height: 60px;
    margin-left: 50px;
  }
  


  .example-container {
    border: 1px solid #555;
  }

.example-sidenav{
  width: 250px;
}

#sidenavText{
  padding-top: 10px;
  text-align: left;
  margin-left: 20px;
}

#sign-in{
  margin-left: 30px;
}

#name{
  font-size: 45px;
  margin-left: 60px;
}
.search{
  width: 225px;
  height: 20px;
  margin-left: 230px;
}
.logo{
  width:75px;
  height: 60px;
  margin-left: 20px;
  border-radius: 100%;
}
.example-card{
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  width: 370px;
  height: 280px;

}

.example-toolbar{
  position: sticky;
  top: 0;
  z-index: 100;
}
.button{
margin-top:140px;
}

mat-grid-list{
  height: 100%;

}


